[submodule "libs/hump"]
	path = libs/hump
	url = https://github.com/vrld/hump.git
[submodule "libs/cargo"]
	path = libs/cargo
	url = git@github.com:bjornbytes/cargo.git
[submodule "libs/lume"]
	path = libs/lume
	url = git@github.com:rxi/lume.git
[submodule "libs/lurker"]
	path = libs/lurker
	url = git@github.com:SpieleentwicklungBodensee/lurker.git
[submodule "libs/anim8"]
	path = libs/anim8
	url = git@github.com:kikito/anim8.git
[submodule "libs/classic"]
	path = libs/classic
	url = git@github.com:rxi/classic.git